.thirtyseven{
    width: 23px;
    height: 30px;
    top: 476px;
    left: 802px;
    font-size: 20px;
    line-height: 30px;
    
}
/* .fortyseven{
    width: 80px;
    height: 80px;
    border-radius: 52px;
    background-color: blue;
    border-color: black;
    border-width: 5px;
    text-align:center;
    padding-top:4px;
  }
  .sixtyeight{
    width: 80px;
    height: 80px;
    border-radius: 52px;
    background-color:pink;
    border-color: black;
    border-width: 5px;
    text-align:center;
    padding-top:4px;
  }
  .eightynine{
    width: 80px;
    height: 80px;
    border-radius: 52px;
    background-color: yellow;
    border-color: black;
    border-width: 5px;
    text-align:center;
    padding-top:4px;
  }
  .twentynine{
    width: 80px;
    height: 80px;
    border-radius: 52px;
    background-color: orangered;
    border-color: black;
    border-width: 5px;
    text-align:center;
    padding-top:4px;
  }


 */
